.light {
  background-color: #fff;
}

.dark {
  background-color: #4C4C4C;
  color: white;
}

.titledark {
  color: aqua;
}

.highlight {
  background-color: rgb(83, 204, 255);
  color: white;
}

.titlehighlight {
  color: white;
}

.subTitleHigh {
  color: black;  
}